* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
}
header .logo{
    overflow-y: hidden;
}
header .logo img{
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 23px;
    z-index: 1;
}
header .text{
    margin-top: 23px;
    z-index: 0;
}
header .text h1{
    color: #fff;
    font-size: 29px;
    font-family: Serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header .text h4{
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header .text h5{
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#background-header-1{
    width: 100%;
    height: 88px;
    background: #006400;
    position: absolute;
    top: 0px;
    z-index: -1;
}
#background-header-2{
    width: 80%;
    height: 35px;
    background: #004300;
    position: absolute;
    top: 88px;
    z-index: -1;
    border: #000 solid 0.1px;
}

.secondheader{
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondheader .left-secondheader{
    width: 20%;
}
.secondheader .left-secondheader h2{
    padding: 14px 0px 13px 0px;
    width: 100%;
    background-color: #D9A217;
    color: #000;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.secondheader .right-secondheader{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondheader .right-secondheader h2{
    color: #000;
    font-size: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}
.secondheader .right-secondheader button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 13px 5px 13px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #D9A217;
    cursor: pointer;
    background-color: white;
}
.secondheader .right-secondheader button:hover{
    background-color: #D9A217;
    color: white;
}
.secondheader .right-secondheader button img{
    margin-right: 10px;
}

#line{
    border-top: #000 solid 1px;
}

.main section .section1 h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: #000;
    font-size: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main section .section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.main section .section2-right{
    display: flex;
    flex-direction: column;
}
.main section .section2-right div{
    display: flex;
    justify-content: end;
}
.main section .section2-right .div2{
    margin-top: 15px;
}
.main section .section2-right .section2-right1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #006400;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}
.main section .section2-right .section2-right1 img{
    margin-right: 10px;
}
.main section .section2-right .section2-right1:hover{
    background-color: #006400;
    color: white;
}
.main section .section2-right .section2-right2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #9EB23B;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}
.main section .section2-right .section2-right2 img{
    margin-right: 10px;
}
.main section .section2-right .section2-right2:hover{
    background-color: #9EB23B;
    color: white;
}
.main section .section2-right .section2-right3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #006400;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.main section .section2-right .section2-right3 img{
    margin-right: 10px;
}
.main section .section2-right .section2-right3:hover{
    background-color: #006400;
    color: white;
}
.main section .section2-right .section2-right4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #9EB23B;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}
.main section .section2-right .section2-right4 img{
    margin-right: 10px;
}
.main section .section2-right .section2-right4:hover{
    background-color: #9EB23B;
    color: white;
}
.main section .section2-right .section2-right5{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #006400;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.main section .section2-right .section2-right5 img{
    margin-right: 10px;
}
.main section .section2-right .section2-right5:hover{
    background-color: #006400;
    color: white;
}
.main section .section2 .section2-left{
    display: flex;
    text-align: center;
    margin-left: 25px;
}
.main section .section2 .section2-left select{
    height: 40px;
    padding: 10px;
    font-size: 25pxs;
}
.main section .section2 .section2-left h2{
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 20px;
}

/* CSS for tables */
.main section .section3{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.main section .section3 table{
    border: #115D33 solid 1px;
    width: 97%;
    border-collapse: collapse;
    background-color: #E8FFCE
}
.main section .section3 th {
    font-size: larger;
    background-color: #A8DF8E;
}
.main section .section3 th, .section3 td {
  padding: 10px;
  border: 1px solid #115D33;
  text-align: center;
}
.main section .section3 td{
    font-size: large;
}
.main section .section3 .missionstate{
    max-width: 200px;
    word-wrap: break-word;
}
.main section .section3 td img {
    border-radius: 10%;
    width: 150px;
    height: 150px;
}
.main section .section3 .button{
    display: flex;
    flex-direction: column;
}
.main section .section3 .button #colorway1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    color: #AA0D0D;
    cursor: pointer;
    text-decoration: none;
}
.main section .section3 .button #colorway1:hover{
    background-color: #AA0D0D;
    color: white;
}
.main section .section3 .button #colorway2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    color: #006400;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}
.main section .section3 .button #colorway2:hover{
    background-color: #006400;
    color: white;
}
.main section .section3 .button img{
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

/* Add NEW Candidates CSS */
.addcandidates-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    cursor: pointer;
    display: none;
    position: fixed;
}

.addcandidates-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    display: none;
    position: fixed;
}
.addcandidates-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addcandidates-background .addcandidates-main{
    display: flex;
    justify-content: space-around;
}
.addcandidates-background .addcandidates-main #line-portrait{
    border-left: #000 solid 1px;
}
.addcandidates-background .addcandidates-main .addcandidates-left{
    width: 54%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
.addcandidates-background .addcandidates-main .addcandidates-right{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.addcandidates-background .addcandidates-main input[type=radio]{
    accent-color: #006400;
}

.addcandidates-background .addcandidates-main #genderfont{
    font-weight: 400;
}
.addcandidates-background .addcandidates-main input, select{
    padding: 5px;
    cursor: pointer;
}
.addcandidates-background .addcandidates-main .addcandidates-left .div1{
    width: 100%;
    display: flex;
}
.addcandidates-background .addcandidates-main .addcandidates-left .div1 .div1-left input, .div1-right input{
    margin-right: 10%;
    width: 100%;
}
.addcandidates-background .addcandidates-main .addcandidates-left .div1 .div1-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.addcandidates-background .addcandidates-main .addcandidates-left .div1 .div1-right{
    width: 50%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.addcandidates-background .addcandidates-main label{
    font-style: Normal;
    font-weight: 600;
    margin-bottom: 6px;
}
.addcandidates-background .addcandidates-main textarea{
    padding: 5px;
}

.addcandidates-background .addcandidates-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addcandidates-background .addcandidates-footer input{
    padding: 5px 20px;
    background-color: #D9A217;
    border-width: 2px;
    cursor: pointer;
    font-weight: 600;
}

.addcandidates-background .addcandidates-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
}

/* Update Candidate CSS */

.updatecandidates-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    cursor: pointer;
    position: fixed;
}

.updatecandidates-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    position: fixed;
}
.updatecandidates-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.updatecandidates-background .updatecandidates-main{
    display: flex;
    justify-content: space-around;
}
.updatecandidates-background .updatecandidates-main #line-portrait{
    border-left: #000 solid 1px;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left{
    width: 54%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-right{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-right .updatecandidates-right-main{
    display: flex;
    align-items: center;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-right img{
    height: 60px;
    width: 60px;
    border-radius: 25%;
    margin-left: 20%;
    margin-top: 5px;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-right .updatecandidates-right-right{
    margin-left: 10%;
}

.updatecandidates-background .updatecandidates-main input[type=radio]{
    accent-color: #006400;
}

.updatecandidates-background .updatecandidates-main #genderfont{
    font-weight: 400;
}
.updatecandidates-background .updatecandidates-main input, select{
    padding: 5px;
    cursor: pointer;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left .div1{
    width: 100%;
    display: flex;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left .div1 .div1-left input, .div1-right input{
    margin-right: 10%;
    width: 100%;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left .div1 .div1-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left .div1 .div1-right{
    width: 50%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.updatecandidates-background .updatecandidates-main label{
    font-style: Normal;
    font-weight: 600;
    margin-bottom: 6px;
}
/* .updatecandidates-background .updatecandidates-main .updatecandidates-left div label[for=middlename]{
    margin-left: 29.5%;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left div #middlename{
    margin-left: 2%;
}
.updatecandidates-background .updatecandidates-main .updatecandidates-left div input{
    padding-right: 10%;
} */
.updatecandidates-background .updatecandidates-main textarea{
    padding: 5px;
}
/* .updatecandidates-background .updatecandidates-main input[type=text]{
    cursor: text;
} */

.updatecandidates-background .updatecandidates-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updatecandidates-background .updatecandidates-footer input{
    padding: 5px 20px;
    background-color: #D9A217;
    border-width: 2px;
    cursor: pointer;
    font-weight: 600;
}

.updatecandidates-background .updatecandidates-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
}


/* Add Position CSS HERE*/
.addposition_candidate-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
    display: none;
}

.addposition_candidate-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 55%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    position: fixed;
    display: none;
}
.addposition_candidate-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addposition_candidate-background .addposition_candidate-main{
    display: flex;
    justify-content: space-around;
}
.addposition_candidate-background .addposition_candidate-main #line-portrait{
    border-left: #000 solid 1px;
}
.addposition_candidate-background .line{
    border-top: #000 solid 1px;
}
.addposition_candidate-background .addposition_candidate-main .addposition_candidate-left{
    width: 54%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 18px;
}
.addposition_candidate-background .addposition_candidate-main .addposition_candidate-left span{
    display: flex;
    justify-content: center;
}
.addposition_candidate-background .addposition_candidate-main input{
    margin-top: 1px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
.addposition_candidate-background .addposition_candidate-main label{ 
    font-style: Normal;
    font-weight: 600;
    margin-bottom: 6px;
}
.addposition_candidate-background .addposition_candidate-main input[type=text], .addposition_candidate-background .addposition_candidate-main input[type=number]{
    cursor: text;
}

.addposition_candidate-background .addposition_candidate-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addposition_candidate-background .addposition_candidate-footer input{
    padding: 5px 20px;
    background-color: #D9A217;
    border-width: 2px;
    cursor: pointer;
    font-weight: 600;
}

.addposition_candidate-background .addposition_candidate-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
}

/* LIST OF POSITIONS CSS HERE*/
.ListofPositions-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
    display: none;
}

.ListofPositions-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    position: fixed;
    display: none;
}
.ListofPositions-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ListofPositions-background .ListofPositions-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.ListofPositions-background .line{
    border-top: #000 solid 1px;
}
.ListofPositions-background .ListofPositions-main table{
    margin: 20px 0px 20px 0px;
    border-collapse: collapse;
    width: 80%;
}
.ListofPositions-background .ListofPositions-main table tr{
    border-bottom: #000 solid 1px;
}
.ListofPositions-background .ListofPositions-main table th{
    font-size: 20px;
}
.ListofPositions-background .ListofPositions-main table th, .ListofPositions-background .ListofPositions-main table td{
    text-align: center;
}
.ListofPositions-background .ListofPositions-main table td{
    padding: 10px;
}
.ListofPositions-background .ListofPositions-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ListofPositions-background .ListofPositions-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
    margin-left: 85%;
}

/* Add Partylist CSS HERE*/
.addpartylist_candidate-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
    display: none;
}

.addpartylist_candidate-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 55%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    position: fixed;
    display: none;
}
.addpartylist_candidate-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addpartylist_candidate-background .addpartylist_candidate-main{
    display: flex;
    justify-content: space-around;
}
.addpartylist_candidate-background .addpartylist_candidate-main #line-portrait{
    border-left: #000 solid 1px;
}
.addpartylist_candidate-background .line{
    border-top: #000 solid 1px;
}
.addpartylist_candidate-background .addpartylist_candidate-main .addpartylist_candidate-left{
    width: 54%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 18px;
}
.addpartylist_candidate-background .addpartylist_candidate-main .addpartylist_candidate-left span{
    display: flex;
    justify-content: center;
}
.addpartylist_candidate-background .addpartylist_candidate-main input{
    margin-top: 1px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
.addpartylist_candidate-background .addpartylist_candidate-main label{ 
    font-style: Normal;
    font-weight: 600;
    margin-bottom: 6px;
}
.addpartylist_candidate-background .addpartylist_candidate-main input[type=text], .addpartylist_candidate-background .addpartylist_candidate-main input[type=number]{
    cursor: text;
}

.addpartylist_candidate-background .addpartylist_candidate-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addpartylist_candidate-background .addpartylist_candidate-footer input{
    padding: 5px 20px;
    background-color: #D9A217;
    border-width: 2px;
    cursor: pointer;
    font-weight: 600;
}

.addpartylist_candidate-background .addpartylist_candidate-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
}
/* LIST OF PARTYLIST CSS HERE*/
.ListofPartyList-blackbackground{
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
    display: none;
}

.ListofPartyList-background{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: default;
    position: fixed;
    display: none;
}
.ListofPartyList-background h2{
    margin: 15px 15px 15px 15px;
    background-color: #C7D36F;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ListofPartyList-background .ListofPartyList-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.ListofPartyList-background .line{
    border-top: #000 solid 1px;
}
.ListofPartyList-background .ListofPartyList-main table{
    margin: 20px 0px 20px 0px;
    border-collapse: collapse;
    width: 80%;
}
.ListofPartyList-background .ListofPartyList-main table tr{
    border-bottom: #000 solid 1px;
}
.ListofPartyList-background .ListofPartyList-main table th{
    font-size: 20px;
}
.ListofPartyList-background .ListofPartyList-main table th, .ListofPartyList-background .ListofPartyList-main table td{
    text-align: center;
}
.ListofPartyList-background .ListofPartyList-main table td{
    padding: 10px;
}
.ListofPartyList-background .ListofPartyList-footer{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ListofPartyList-background .ListofPartyList-footer h4{
    background-color: #E6E6E6;
    padding: 3px 20px;
    border: solid gray 1px;
    border-width: 2px;
    cursor: pointer;
    margin-left: 85%;
}

#colorwaytwo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    color: #AA0D0D;
    cursor: pointer;
    text-decoration: none;
}
#colorwaytwo:hover{
    background-color: #AA0D0D;
    color: white;
}


/* NOTIFICATIONSSSS */

/* para ito sa pagremove ng candidates */
.jconfirm-box-container {
    margin: 20% 30% 20% 30%;
}
.jconfirm-title {
    overflow-y: hidden;
}
.btn-confirm {
  background-color: rgb(216, 44, 44);
  color: white;
}
.btn-cancel {
  background-color: #006400;
  color: white;
}

.error404{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error404-Top{
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error404-Top1{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: -3%;

}
#txt1{
    color: #D9A217;
    font-size: 15px;
}
#txt2{
    color: #AA0D0D;
    font-size: 60px;
}
#img1{
    margin-left: -3%;
    margin-top: 10%;
    width: 150px;
}
.error404-Bottom{
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.txt3{
    color: #006400;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    text-align: center;
}
.txt4{
    display: none;
    color: #006400;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    text-align: center;
}

/* Dito sa responsive dapat una ung malalaki palit ng palit sa pagccode
pero kung ssimulan mo palang una mong iccode is maliit palaki */
@media screen and (max-width: 1279px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404-Bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: none;
    }
    .txt4{
        display: block;
    }
}
@media screen and (max-width: 900px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .error404-Bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .txt3{
        display: none;
    }
    .txt4{
        display: block;
    }
}
@media screen and (max-width: 800px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .error404-Bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}

/* SmartPhones */
@media screen and (max-width: 420px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 40px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 40px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 50px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
@media screen and (max-width: 360px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 60px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
/* Iphone 5 */
@media screen and (max-width: 320px) {
    header .logo img{
        width: 100px;
        height: 100px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 80px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
@media screen and (max-width: 280px) {
    header .logo img{
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 80px;
    }
    header .text h5{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
    }
    .txt3{
        display: block;
    }
    .txt4{
        display: none;
    }
}
/* Smartwatch */
@media screen and (max-width: 170px) {
    header{
        display: none;
    }
    header .text h5{
        display: none;
    }
    #background-header-1{
        display: none;
    }
    #background-header-2{
        display: none;
    }
    .secondheader{
        display: none;
    }
    #line{
        display: none;
    }
    .main{
        display: none;
    }
    .error404{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .error404-Top{
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .error404-Top1{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: -3%;
    }
    #txt1{
        color: #D9A217;
        font-size: 10px;
    }
    #txt2{
        color: #AA0D0D;
        font-size: 25px;
    }
    #img1{
        margin-left: -3%;
        margin-top: 10%;
        width: 100px;
    }
    .error404-Bottom{
        margin-top: -30px;
        display: flex;
        justify-content: center;
    }
    .txt3{
        color: #006400;
        margin: 0px 10px 0px 10px;
        font-size: 10px;
        text-align: center;
    }
    .txt4{
        display: none;
    }
}